@font-face {
	font-family: "GTSectraBook";
	src: url("../fonts/gt-sectra-fine-trial-book.eot");
	src: url("../fonts/gt-sectra-fine-trial-book.eot#iefix") format("embedded-opentype"),
	url("../fonts/gt-sectra-fine-trial-book.woff") format("woff"),
	url("../fonts/gt-sectra-fine-trial-book.ttf") format("truetype"),
	url("../fonts/gt-sectra-fine-trial-book.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GTSectraRegular";
	src: url("../fonts/gt-sectra-fine-trial-regular.eot");
	src: url("../fonts/gt-sectra-fine-trial-regular.eot#iefix") format("embedded-opentype"),
	url("../fonts/gt-sectra-fine-trial-regular.woff") format("woff"),
	url("../fonts/gt-sectra-fine-trial-regular.ttf") format("truetype"),
	url("../fonts/gt-sectra-fine-trial-regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'NeueHaasUnicaLight';
    src: url('../fonts/linotype-neue-haas-unica-pro-light.eot');
    src: url('../fonts/linotype-neue-haas-unica-pro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linotype-neue-haas-unica-pro-light.woff') format('woff'),
         url('../fonts/linotype-neue-haas-unica-pro-light.ttf') format('truetype'),
         url('../fonts/linotype-neue-haas-unica-pro-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasUnicaRegular';
    src: url('../fonts/linotype-neue-haas-unica-pro.eot');
    src: url('../fonts/linotype-neue-haas-unica-pro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linotype-neue-haas-unica-pro.woff') format('woff'),
         url('../fonts/linotype-neue-haas-unica-pro.ttf') format('truetype'),
         url('../fonts/linotype-neue-haas-unica-pro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasUnicaBold';
    src: url('../fonts/linotype-neue-haas-unica-pro-bold.eot');
    src: url('../fonts/linotype-neue-haas-unica-pro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linotype-neue-haas-unica-pro-bold.woff') format('woff'),
         url('../fonts/linotype-neue-haas-unica-pro-bold.ttf') format('truetype'),
         url('../fonts/linotype-neue-haas-unica-pro-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
