body.agent {

	.agents-trigger {
		border-bottom:2px solid $white;
		padding-bottom:$em * 0.5;
	}

	.ll-agents-title {
		background: $bam-blk;
		text-align:center;
		padding:$em * 5;

		h1 {
			color: white;
		}

		p {
			color: white;
		}
	}

	.ll-agents {
		max-width: 100%;
	}

	.ll-agents-single {
		padding: 0;
		min-height: 400px;
		@include shutter-horiz;

		.hidden-content {
			padding: $em*1.5;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			color: $white;
			opacity: 0;

			h2 {
				@include GTSectraRegular;
				font-size: $em*1.8;
				margin: 0;
				margin-bottom: $em*0.2;
				color: $white;
			}

			a {
				@include NeueHaasUnicaRegular;
				color: $white;
				font-size: $em*0.8;
			}

			p {
				@include NeueHaasUnicaRegular;
				color: $white;
				font-size: $em*0.8;
				margin-top: $em*1.5;
			}

			.container-cta {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding-left: $em*1.5;
				padding-right: $em*1.5;
				padding-bottom: $em*1.5;

				.ll-btn {
					padding: 12px 7px;

					@media (min-width: 400px) and (max-width: 640px) {
						padding: 12px 16px;
					}

					@media (min-width: 1100px) {
						padding: 12px 16px;
					}

				}
			}
		}

		@media (min-width: $medmax) {

			&:hover {

				.hidden-content {
					-webkit-transition: opacity 0.4s ease-in;
					transition: opacity 0.4s ease-in;
					opacity: 1;
				}

				.ll-agents-inside {

					h2, a {
						-webkit-transition: opacity 0.2s linear;
						transition: opacity 0.2s linear;
						opacity: 0;
					}

				}
			}
		}

		@media (max-width: $medmax) {

			&.inView {

				.hidden-content {
					-webkit-transition: opacity 0.4s ease-in;
					transition: opacity 0.4s ease-in;
					opacity: 1;
				}

				.ll-agents-inside {

					h2, a {
						-webkit-transition: opacity 0.2s linear;
						transition: opacity 0.2s linear;
						opacity: 0;
					}

				}

			}

		}

	}

	.ll-agents-inside {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: $em*1.5;

		h2 {
			color: $white;
			margin: 0;
			font-size: $em*1.5;
		}

		a {
			color: $white;
			font-size: $em*0.8;
		}

	}

	.ll-agents-reviews {
		text-align: right;

		a {
			color: $white;
			font-size: $em*0.8;
		}
	}

	.ll-agents-lease {
		padding:0;
		min-height:400px;
		background: $bam-grn;

		.ll-lease-inside {
			color:$white;
			text-align:center;
			padding:$em * 7 $em * 2;
			min-height:inherit;

			h3 {
				@include GTSectraBook;
				color:white;
				font-size:$em * 1.25;
				line-height:$em * 1.25;
				margin-bottom:0;
			}
		}
	}

	.ll-agents-buy {
		padding: 0;
		min-height: 400px;
		background: $bam-ltbrwn;

		.ll-buy-inside {
			color: $white;
			text-align: center;
			padding:$em * 7 $em * 2;
			min-height: inherit;

			h3 {
				@include GTSectraBook;
				color: $white;
				font-size: $em * 1.25;
				line-height:$em * 1.25;
				margin-bottom:0;
			}
		}
	}

}
